body{
    margin:0px;
    text-align: center;
    
}

.name{
    background-color: aqua;
    margin-top: 0px;
    color: #66BFBF;
}
    
.namediv{
    font-weight: normal;
    margin: 0;
    font-size: 2.5rem;
}

h1{
    padding-top: 40px;
    margin: 0px;
    font-style: italic;
    font-size: 5.2rem;
    font-family: 'Sacramento', cursive;
    
}
.mypic{
    border-radius: 200px;
    height:100px;
    width: 100px;
}

.Sec{
    font-family: Arial, Helvetica, sans-serif;
 
}
.thi{
    margin: 50px auto 100px auto;
    height: 250px;
    
    border: 0;
    padding: 0%;
    width: 50%;
}

    .thip{
        text-align: left;
        line-height: 1rem;
        position: relative;
        left: 30px;
    }


.skillimg1{
    margin: 0;
    border-radius: 500px;
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20px;
    left: 140px;
    float: left;
    
}
.cssimg{
    width: 180px;
    height: 180px;
    position: relative;
    top: 60px;    
    float: left;
}

.to{
    text-decoration: underline;
    text-shadow: silver;
}

.top-cloud{
    position: relative;
    left: 400px;
}

.bottom-cloud{
    position: absolute;
left: 150px;
}
hr{
     width: 40%;
     border-width: 5px;
     border-style: dotted;
     border-bottom: none;
    color: #11999e;
    
}
h3{
    padding-bottom: 80px;
    color: #11999e;
    margin: 0;
    font-family: 'Comic Neue', cursive;
    text-decoration: underline;
}

.contactme{
   
    text-decoration-color: blue;
    font-family: fantasy;
    border-radius: 8%;
    font-size: 16px;
  }  

  button{
    color: blue;
}

  .bottomdiv{
   
    background-color: #11999e;
    height: 25px;
    
  }
  a{
    text-decoration: black;
    color: #66BFBF;
    margin: 50px;
   
}