body{
    margin:0;
}
.firstdiv{
   background-color: skyblue; 
   text-align: right;
   height: 2rem;
   padding: 1rem 1rem 3rem;
}
a{
    text-decoration: none;
    padding: 0 1.5em;
    
}
.topdiv{
    background-color: skyblue;
    height: auto;
}
.topcloud{
    position: absolute;
    right: 5em;
    margin: 0 auto auto auto;
    max-width: 20%;
    height: auto;    
}
.bottomcloud{
    position: absolute;
    left: 3rem;
    margin: 0 auto auto auto;
    max-width: 30%;

}
.h1h2topdiv{
    
    display: inline;
    padding: 2rem;
    text-align: center;
}
h1{
    margin: 0em;
    font-size: 4rem;
    font-family: 'Bangers', cursive;
    }

 h2{
    font-family: 'Pacifico', cursive;
 }   
.mount{
    margin:0 auto; 
    
    width: 100%;
    height: auto;
    position: relative;
}
.aboutme{
    position:relative;
    left: 20%;
    
    text-align:center;
    height: auto;
    max-width: 60%;
}
.mypic{
    border-radius: 100px;
    height: 100px;
}
hr{
    
    border-style: dotted;
    width: 30%;
    border-width: 5px 0 0 0;
    border-color: cornflowerblue;
}
.skills{
    text-align: center;
    display: block;
    padding-bottom: 2rem;
}
.first_skill{
    
    text-align:center;
    position: relative;
    left:20%;
    max-width: 60%;
    }
.computerimg{
    height: 100px;
    width: 100px;
    border-radius: 200%;
    float: left;
    
}
.skill1{
      
    text-align: left;
    margin-left: 20px;
   
    
}
.Computer_Admin{
    text-align:left;
    }

.second_skill {
    padding-top: 7px;
    text-align: center;
    position: relative;
    left:20%;
    max-width: 60%;
}
.cssimg
{
    height: 100px;
    width: 100px;
    border-radius: 200%;
    float: right;
}
.skill2{
    text-align: left;
    position: relative;

}
.Coding{
    text-align: left;
    margin: 2px;
}
.contactme{
    text-align: center;
    width: 60%;
    position: relative;
    left: 20%;
    height: auto;
}

.contactbutton{
    background-color: cyan;
    height: 2rem;
    border-radius: 100px;
    font-family: fantasy;
    font-size: 1.5rem;
}
.contactbutton:hover{
    background-color: skyblue;
}
.finaldiv{
    
    background-color: skyblue;
    text-align: center;
    height: 2rem;
    padding-top: 1rem;
}